@import "tailwindcss";

@theme {
    /*
        Para crear colores PASTELES, en teoría del color
        generalmente se recomienda usar HSL para configurar
        aproximadamente saturación 35-40% y luminosidad 60-70%
    */

    --color-fara-strong-red: #d34240;
    --color-fara-red: #a82428;
    --color-fara-gold: #e3a647;
    --color-fara-lime: #b9ce48;
    --color-fara-teal: #2faea5;
    --color-fara-cyan: #52a6c7;
    --color-fara-blue: #21708e;
    --color-fara-gray: #555555;
    --color-fara-yellow: #eec98f;

    --color-fara-old-red: #c27270;
    --color-fara-old-gold: #e7b365;
    --color-fara-old-lime: #c2d161;
    --color-fara-old-teal: #70c2b4;
    --color-fara-old-cyan: #65b1cd;
}

.skew-custom {
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
}

.skew-custom2 {
    clip-path: polygon(0 0, 100% 0%, 98% 100%, 0% 100%);
}

.text-shadow-custom {
    text-shadow: 0px 2px 4px rgb(0, 0, 0, 0.5);
}

.text-shadow-none {
    @media (min-width: 768px) {
        text-shadow: 0px 0px 0px;
    }
}

.poligonoDonar {
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 22% 100%);
}

.poligonoDonar2 {
    clip-path: polygon(0 8%, 100% 8%, 100% 100%, 19% 100%);
}

.text-outline-lg {
    color: white; /* Color del texto */
    text-shadow:
        -0.7px -0.7px 0 black,
        0.7px -0.7px 0 black,
        -0.7px 0.7px 0 black,
        0.7px 0.7px 0 black;
}

.text-outline-sm {
    color: white; /* Color del texto */
    text-shadow:
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
}

.transition-bg {
    transition: background-image 0.3s ease-in-out;
}

.integrantes {
    mask-image: linear-gradient(black 80%, transparent);
}

@variant pointer-coarse (@media (pointer: coarse));
